<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <pre class="prettyprint"><h1>武陵VJudge(暫)計畫開始！！</h1>acacacac<h6>at OCT 31 = DEC 25</h6></pre>
    </div>
  </div>
</div>
