// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prettyprint {
  padding: 15px 21px;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  }

#content {
  margin-left: 10%;
  margin-right: 10%;
}
